.empty_wrapper {
  display: flex;
  justify-content: center;
  //align-items: center;
  padding-top: 120px;
}

.container {
  display: flex;
  width: 370px;
  height: 366px;
  flex-direction: column;
  align-items: center;
  .picture {
    width: 240px;
    height: 240px;
    background-image: url("/../public/images/empty.png");
    background-repeat: no-repeat;
  }
  p {
    margin: 32px 0;
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
  }
  .redirect_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 162px;
    height: 42px;
    background-color: #DEECFF;
    border-radius: 8px;
    color: #3B7CD3;
    font-weight: 600;
    font-size: 14px;
  }
}